
footer {
  background-color: #fff;
  padding: 30px 20px 20px;  
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
} 

.footer-line {
    border-bottom: 1px solid #575757;
}

.footer-text a {
  color: #ff6e64;
  text-decoration: none;
}