body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; 
  /* cor do fundo */
}
/* aqui */
.newsletter {
  max-width: 600px; 
  margin: 50px auto; 
  padding: 20px;
  background-color: #dcf1f1; 
  border-radius: 50px; 
  /* cantos arredondados */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  /* sombra "meio transparente" */
}

/* título */
.newsletter h2 {
  text-align: center; 
  color: #333;
}

/* parágrafo */
.newsletter p {
  text-align: center;
  color: #666;
  line-height: 1.5; 
  /* espaço entre linhas */
}

/* formulário */
.subscribe-form {
  display: flex; 
  /* coloca input(campo do fomulário) e botão na mesma linha */
  margin-top: 20px;
}

.pesquisa{
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 18px;
  height: 50px;


  /* campo de e-mail */
  input {
    flex: 1; 
    padding: 10px;
    border-radius: 5px 0 0 5px; 
    border: none;
    /* arredonda só os cantos da esquerda */
  }
  
  /* botão */
  button {
    padding: 10px 20px;
    border: none;
    background-color: #000000; /* cor quando não passa o mouse */
    color: white;
    border-radius: 5px; 
    /* arredonda só os cantos da direita */
    cursor: pointer; /* muda a cor quando passa o mouse */
  }
  
  /* botão quando passa o mouse */
  button:hover {
    background-color: #5d5b5b; /* cor depois que passa o mouse */
  }
  
}
/* imagens*/
.images{
  display: flex;
  width: 100%;
  justify-content: space-between;  
  padding: 0;
  margin: 0;
  height: auto;
  
  .left{
    width: 44%;
    background-color: none;
    border-radius: 0px 0px 0px 40px;
    position: relative;
    right: 20px;
    top: 20px;
  }
  
  .right{
    width: 30%;
    top: 20px;
    border-radius: 0px 0px 40px 0px;
    background-color: none;
    position: relative;
    left: 20px;
  }
  
} 

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; 
  /* cor do fundo */
}

.newsletter {
  max-width: 600px; 
  margin: 50px auto; 
  padding: 20px;
  background-color: #dcf1f1; 
  border-radius: 50px; 
  /* cantos arredondados */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  /* sombra "meio transparente" */
}

/* título */
.newsletter h2 {
  text-align: center; 
  color: #333;
}

/* parágrafo */
.newsletter p {
  text-align: center;
  color: #666;
  line-height: 1.5; 
  /* espaço entre linhas */
}

/* formulário */
.subscribe-form {
  display: flex; 
  /* coloca input(campo do fomulário) e botão na mesma linha */
  margin-top: 20px;
}

.pesquisa{
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 18px;
  height: 50px;


  /* campo de e-mail */
  input {
    flex: 1; 
    padding: 10px;
    border-radius: 5px 0 0 5px; 
    border: none;
    /* arredonda só os cantos da esquerda */
  }
  
  /* botão */
  button {
    padding: 10px 20px;
    border: none;
    background-color: #000000; /* cor quando não passa o mouse */
    color: white;
    border-radius: 5px; 
    /* arredonda só os cantos da direita */
    cursor: pointer; /* muda a cor quando passa o mouse */
  }
  
  /* botão quando passa o mouse */
  button:hover {
    background-color: #5d5b5b; /* cor depois que passa o mouse */
  }
  
}
/* imagens*/
.images{
  display: flex;
  width: 100%;
  justify-content: space-between;  
  padding: 0;
  margin: 0;
  height: auto;
  
  .left{
    width: 44%;
    background-color: none;
    border-radius: 0px 0px 0px 40px;
    position: relative;
    right: 20px;
    top: 20px;
  }
  
  .right{
    width: 30%;
    top: 20px;
    border-radius: 0px 0px 40px 0px;
    background-color: none;
    position: relative;
    left: 20px;
  }
  
} 