@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.logo {
    font-family: "Lobster", sans-serif;
    color: black;
    margin-left: 1%;
    padding: 25px 40px;
}

.logo .dot {
    color: orange;
}

.menu {
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu a:hover {
    color: orange;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cabecalho {
    position: fixed;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
